@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
    font-family: 'Open Sans', sans-serif;  
}
.nav{
    position: fixed;
    height: auto;
    background: transparent;
    font-size: 13px;
    transition: .5s;
    box-shadow: 0px 0px transparent;
    z-index: 999;
    }
.nav.is-down {
        background: #232731;
    }
.nav.is-down>.container {
        border: 0;
        padding: 15px 0
    }
.nav .row{
    margin: 0px;
}
.nav>.container{
     transition: .5s;
        width: 90%;
        border-bottom: solid 1px gray;
        padding: 28.5px 0px;
    }
.nav .boton1{
    margin-right: 40px;
}
.nav .boton1>li:nth-child(2)>a{
    background-color: transparent;
    box-shadow: 0 0 transparent;
    padding: 0 40px;
    border-radius: 100px;
    border: 1.5px white solid;
}
.nav .boton1>li:nth-child(2)>a:hover{
    border: solid 1px #FF5274;
}
.nav ul li a, .boton1 {
    transition: .4s;
    font-size: 13px;
}
.nav ul li a:hover, .boton1:hover {
    color: #FF5274;
    background: transparent;
}
section .row{
    padding: 120px 0;
}
section .row .col .primero-icon{
    margin-right: 20px;
}
.primero-icon, .primero-content{
    display: inline-block;
}
.primero{
    width: 100%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15%;
}
.primero h1{
    font-size: 60px;
    color: white;
    margin: auto;  
    width: fit-content;
}
.primero p{
    font-size: 20px;
    color: white;
}
.background{
    transition: .4s;
    position: relative;
    min-height: 750px;
    background: url(../img/hero.jpg) center center;
    background-size: cover;
}
.btn{
    padding: 8px 35px 8px 35px;
    border-radius: 100px;
    font-size: 13px;
    border: 1.5px white solid;
    transition: .4s;
}
.btn:hover{
    color: #FF5274;
    border: 1.5px #FF5274 solid;
    background: transparent;
}
.primero article{
    margin-right: 188px;
    margin-top: 113px;
}
.primero  article a{
    font-size: 13px;
    color: white;
    padding: 17px 43px;
    border-radius: 100px;
    background-color: #FF5274;
}
.primero  article a:hover{
    background-color:rgba(255, 82, 117, 0.788);
    color: white;
}
.primero  section{
    margin-top: -21px;
    margin-left: 192px;
}
.primero  section a{
    font-size: 13px;
    color: #FF5274;
    padding: 15px 40px;
    border-radius: 100px;
    border: 2px solid #FF5274; 
}
.primero  section a:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
} 
.primero-icon img{
    width: 64%;
    font-weight: 700;
}
.primero-icon{
    vertical-align: top;
    padding: 6px 0 0;
    margin-right: 20px;
}
.primero-content {
    width: 70%;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0px;
}
.container{
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.material-icons{
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 49%;
    animation: efecto 3s alternate infinite;
}
@keyframes efecto {
    0%{
        transform: translateY(0);
    }
    34%{
        transform: translateY(-10px);
    }
    64%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
h3, h5{
    color: #3D4351;
}
h3{
    font-size: 24px;
    margin-bottom: 20px;
}
h5{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.segundo p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.segundo{
    background: #F3F4F8;
    position: relative;
}
.segundo .device-img {
    position: absolute;
    bottom: -350px;
    right: 61%;
}
.devices, .features {
    position: relative;
}
.segundo h3 {
    margin: 0 0 20px;
}

.segundo .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url(../img/ipad-device.png) center center no-repeat;
    z-index: 1;
}
.segundo .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url(../img/iphone6.png) center center no-repeat;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
}
.segundo ul.conte-icon {
    margin-top: 50px;
}
.segundo ul.conte-icon li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.segundo ul.conte-icon li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.segundo .content {
    display: inline-block;
    width: 75%; 
}
.recycle{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.user{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.test{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.tercero{
    background: #fff;
}
.features{
    z-index: 3;
    overflow: hidden;
}
.text{
    padding: 8px 2px;
    
}
.bot2{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, .6);
    padding-bottom: 20px;
}
.tercero .container .row{
    padding: 120px 0;
}

.boton{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 8px 40px;
    color: #FF5274;
}
.boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.features .boton {
    margin-top: 20px;
}
 .features .macbook-wrap {
    position: absolute;
    width: 915px;
    height: 530px;
    left: 50%;
    top: 115px;
    background: url(../img/macbook-pro.png) center center no-repeat;
}  
.responsive-img{
    display: none;
}
.cuarto{
    margin-top: 120px;
    background: url(../img/polygonal-bg.jpg) center center no-repeat #333844;
    padding-bottom: 10px;
    position: relative;
}
.cuarto h2{
    color: #fff;
    margin: 0 0 20px;
    text-align: center;
}
.cuarto i{
    font-family: Nunito,sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}
.cuarto p{
    color: #ACB1B4;
    text-align: center;
}
.cuarto a{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 16px 40px;
    color: #FF5274;
    margin-left: 42%;
}
.cuarto a:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.diamond{
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -128px;
    top: 82%;
    left: 42%;
    animation: diamond 3s alternate infinite;
}
@keyframes diamond {
    0%{
        transform: translateY(0);
    }
    34%{
        transform: translateY(-10px);
    }
    64%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.quinto{
    background: #F3F4F8;
    width: 100%;
}
.quinto h2{
    font-size: 24px;
    line-height: 7;
}
.quinto .left-aling{
    padding-right: 100px;
    border-right: solid 1px rgba(61, 67, 81, 0.69);
}
.quinto .right-aling{
    padding-left: 100px;
}
.quinto h5{
    font-size: 15px;
}
.quinto p{
    font-size: 15px;
    line-height: 2;
    color: rgb(178, 182, 190);
}
.sexto{
    background-color: #F3F4F8;
    text-align: center;
}
.sexto .row{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.left-aling, .center-aling, .right-aling{
    width: auto;
    height: auto;
    overflow: hidden;
}
.left-aling img, .center-aling img, .right-aling img{
    width: 100%;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.left-aling img:hover, .center-aling img:hover, .right-aling img:hover{
    transform: scale(1.2);
}
.titulos{
    font-size: 12px;
    text-align: center;
}
.link{
    color: #FF5274;
}
.sexto p{
    text-align: center;
}
.parrafo{
    color: rgba(35, 39, 49, 0.73);
}
.sexto .boton{
    text-align: center;
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 8px 40px;
    color: #FF5274;
}
.sexto .boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
@media only screen and (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media only screen and (max-width: 991px) {
    section .row .col .primero-content {
      width: 75%;
    }  
    .primero{
      padding-top: 40%;
    }
    .devices{
        display: none;
    }
    .features .macbook-wrap{
        display: none;
    }
    .responsive-img{
        display: block;
        width: 85%;
        margin: 15% auto 0;
    }

    .responsive-img, .img2{
        width: 100%;
        margin-top: -20px;
    }
    .material-icons{
        left: 46%;
    }
    .diamond{
        left: 42%;
        margin-top: 1%;
    }
}
@media only screen and (min-width: 992px){
    .container {
        width: 970px;
    }
    .col-m-offset-7 {
        margin-left: 58%;
    }
    .col-m5 {
        float: left;
        width: 40%;
    }    
}
@media only screen and (min-width: 1200px){
    .primero{
        padding-top: 20%;
      }
    .container {
        width: 1170px ;
    }
    
}








