@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
    font-family: 'Open Sans', sans-serif;  
}
nav{
    box-shadow: 0 0 transparent;
    position: fixed;
}
nav .row{
    margin: 0;
}
nav .container{
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 28.5px 0;
}
nav .boton1{
    margin-right: 40px;
}
nav .boton1>li:nth-child(2)>a{
    background-color: transparent;
    box-shadow: 0 0 transparent;
    padding: 0 40px;
    border-radius: 100px;
    border: 1.5px white solid;
}
nav .boton1>li:nth-child(2)>a:hover{
    border: solid 1px #FF5274;
}
nav ul li a, .boton1 {
    transition: .4s;
    font-size: 13px;
}
nav ul li a:hover, .boton1:hover {
    color: #FF5274;
    background: transparent;
}
section .row{
    padding: 120px 0;
}
section .row .col .primero-icon{
    margin-right: 20px;
}
.primero-icon, .primero-content{
    display: inline-block;
}
.primero{
    width: 100%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15%;
}
.primero h1{
    font-size: 60px;
    color: white;
    margin: auto;  
    width: fit-content;
}
.primero p{
    font-size: 20px;
    color: white;
}
.background{
    transition: .4s;
    position: relative;
    min-height: 750px;
    background: url(../img/hero.jpg) center center;
    background-size: cover;
}
.btn{
    padding: 8px 35px 8px 35px;
    border-radius: 100px;
    font-size: 13px;
    border: 1.5px white solid;
    transition: .4s;
}
.btn:hover{
    color: #FF5274;
    border: 1.5px #FF5274 solid;
    background: transparent;
}
.primero article{
    margin-right: 188px;
    margin-top: 113px;
}
.primero  article a{
    font-size: 13px;
    color: white;
    padding: 17px 43px;
    border-radius: 100px;
    background-color: #FF5274;
}
.primero  article a:hover{
    background-color:rgba(255, 82, 117, 0.788);
    color: white;
}
.primero  section{
    margin-top: -21px;
    margin-left: 192px;
}
.primero  section a{
    font-size: 13px;
    color: #FF5274;
    padding: 15px 40px;
    border-radius: 100px;
    border: 2px solid #FF5274; 
}
.primero  section a:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
} 
.primero-icon img{
    width: 64%;
    font-weight: 700;
}
.primero-icon{
    vertical-align: top;
    padding: 6px 0 0;
    margin-right: 20px;
}
.primero-content {
    width: 70%;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0px;
}
.container{
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.material-icons{
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 49%;
    animation: efecto 3s alternate infinite;
}
@keyframes efecto {
    0%{
        transform: translateY(0);
    }
    34%{
        transform: translateY(-10px);
    }
    64%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
h3, h5{
    color: #3D4351;
}
h3{
    font-size: 24px;
    margin-bottom: 20px;
}
h5{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.segundo p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.segundo{
    background: #F3F4F8;
    position: relative;
}
.segundo .device-img {
    position: absolute;
    bottom: -350px;
    right: 61%;
}
.devices, .features {
    position: relative;
}
.segundo h3 {
    margin: 0 0 20px;
}

.segundo .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url(../img/ipad-device.png) center center no-repeat;
    z-index: 1;
}
.segundo .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url(../img/iphone6.png) center center no-repeat;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
}
.segundo ul.conte-icon {
    margin-top: 50px;
}
.segundo ul.conte-icon li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.segundo ul.conte-icon li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.segundo .content {
    display: inline-block;
    width: 75%; 
}
.recycle{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.user{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.test{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.tercero{
    background: #fff;
}
.features{
    margin-top: -20px;
    z-index: 3;
    overflow: hidden;
}
.boton{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 8px 40px;
    color: #FF5274;
}
.boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.features .boton {
    margin-top: 20px;
}
 .features .macbook-wrap {
    position: relative;
    height: 540px;
    left: 35%;
    top: -600px;
    background: url(../img/macbook-pro.png) center center no-repeat;
}  
.responsive-img{
    display: none;
}

.cuarto{
    background: url(../img/polygonal-bg.jpg);
    padding-top: 17%;
    margin-top: 7%;
    margin-bottom: 100%;
    text-align: center;
    width: 100%;
}
.cuarto h2{
    color: rgba(255, 255, 255, 0.88);
    font-size: 40px;
    margin-left: 1%;
    margin-top: -19%;
}
.sketch{
    color: rgba(255, 255, 255, 0.88);
    font-size: 40px;
}
.cuarto i{
    font-family: 'Open Sans', sans-serif;  
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    margin-top: 0px;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}
.cuarto p{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 1%;
}
.cuarto a{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 16px 40px;
    color: #FF5274;
}
.cuarto a:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.diamond{
    position: absolute;
    margin-top: 8%;
    left: 600px;
    animation: diamond 3s alternate infinite;
}
@keyframes diamond {
    0%{
        transform: translateY(0);
    }
    34%{
        transform: translateY(-7px);
    }
    64%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0);
    }
}
.quinto{
   background: #F3F4F8;
   width: 100%;
   margin-top: -100%;
   padding-top: 45%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -5%;
}
.quinto h2{
    font-size: 27px;
    margin-top: -48%;
    margin-left: -2%;
    color: #3D4351;
}
.quinto .leftcol{
    width: 50%;
    padding-right: 100px;
    border-right: solid 1px #3D4351;
}
.quinto .rightcol{
    width: 50%;
    padding-left: 100px;
}
.quinto h5{
    font-size: 15px;
    font-weight: 500;
    color: #3D4351;
}
.quinto p{
    font-size: 15px;
    line-height: 29px;
    color: #3D4351;
    padding-bottom: 20px;
}
@media only screen and (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media only screen and (max-width: 991px) {
    section .row .col .primero-content {
      width: 75%;
    }  
    .primero{
      padding-top: 40%;
    }
    .devices{
        display: none;
    }
    .features .macbook-wrap{
        display: none;
    }
    .responsive-img{
        display: block;
        width: 85%;
        margin: 15% auto 0;
    }

    .responsive-img, .img2{
        width: 100%;
        margin-top: -20px;
    }
    .material-icons{
        left: 46%;
    }
    .diamond{
        left: 34%;
        margin-top: 15%;
    }
  
}
@media only screen and (min-width: 992px){
    .container {
        width: 970px;
    }
    .col-m-offset-7 {
        margin-left: 58%;
    }
    .col-m5 {
        float: left;
        width: 40%;
    }
  
    
}
@media only screen and (min-width: 1200px){
    .primero{
        padding-top: 20%;
      }
    .container {
        width: 1170px ;
    }
    
}








